# Registro predeterminado para paquetes públicos
# registry=https://registry.npmjs.org/
# registry=http://localhost:8081/repository/npm-release/
# registry=http://localhost:8081/repository/npm-snapshots/

# Registro específico para tus paquetes internos en Nexus
# npm install http://localhost:8081/repository/npm-release/api-ts/-/api-js-1.0.0.tgz
# @npm-release:registry=http://localhost:8081/repository/npm-release/

# Usuario y contraseña para autenticación básica
# //localhost:8081/repository/npm-snapshots/:username=admin
# //localhost:8081/repository/npm-snapshots/:_password=YWRtaW4=
# //localhost:8081/repository/npm-release/:email=rasysbox@hotmail.com
# //localhost:8081/repository/npm-snapshots/:always-auth=true